# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/

# Mac
.DS_Store

# IntelliJ
out/
.idea/
.idea/**
*.iml
*.ipr
*.iws

target/

# Eclipse
.project
.classpath
.settings/

# Misc
build.log
.zip/
.run/
**/logs/
